*{margin: 0;padding:0;}
a{text-decoration: none;}
li{list-style: none;}

#container{width:760px;height:768px;margin: 0 0 0 -512px;top:0;left:50%;overflow: hidden;position: absolute;}
body{font: bold 20px "helvetica neue", helvetica, arial, sans-serif;color:#fae325;text-shadow: 2px 2px 3px rgba(0,0,0,0.7);}
#go{position:absolute;top:40%;left:50%;margin:0 0 0 -100px;}
#main{overflow: auto!important;}

#levels{width:900px;position:absolute;top:150px;left:100px;display: none;z-index: 10;}
#levels li{float:left;text-align: center;}
#levels a{ display: block;text-align: center;width: 216px; height: 216px; line-height: 200px;background: url("images/boton-nivel.png");background-size: 100% 100%;color: #E79732;text-shadow: 0 6px 8px #5D5D5D;font-size: 144px;font-family: Helvetica,Arial,Sans-Serif;font-weight: normal;}
#levels span{  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;line-height: 30px;color:#fff;display: none;}
#holder{position: absolute;;bottom:120px;z-index: 9;}
#holder li{position: absolute;width:180px;height:55px; font: bold 30px/60px "helvetica neue", helvetica, arial, sans-serif;text-align: center;opacity: 1!important;border: 2px dashed transparent;}
#holder li a{color:#FAE325;}
#holder li.cat-8{bottom:105px;left:805px;}
#holder li.cat-7{bottom:105px;left:590px;}
#holder li.cat-6{bottom:105px;left:375px;}
#holder li.cat-5{bottom:105px;left:155px;}
#holder li.cat-1{bottom:30px;left:155px;}
#holder li.cat-2{bottom:30px;left:375px;}
#holder li.cat-3{bottom:30px;left:590px;}
#holder li.cat-4{bottom:30px;left:805px;}

#words{text-align: center;position: absolute;top:100px;display: none;z-index: 10;}
#words li{margin:20px 60px; width:200px;height:60px;font: bold 30px "helvetica neue", helvetica, arial, sans-serif;cursor: pointer;float: left;}
#words li a{position: relative;display: inline-block;height:60px;line-height:60px;width:200px; }

.highlight{}
.highlight-accept{border: 2px dashed #999!important;}

#config{position: absolute;bottom:60px;left:100px;}
.credits_btn{position: absolute;bottom:60px;right:20px;color:#FAE325;font-size: 12px;}

.music_control{width: 200px;margin:20px auto 0;}
.music_control h1{margin:40px auto 0;}

.button {
    background: -moz-linear-gradient(center top , #3E779D, #65A9D7);
    background: -webkit-linear-gradient(top,  #3E779D 0%,#65A9D7 100%);
    border-radius: 17px 17px 17px 17px;
    border-top: 1px solid #0783D1;
    box-shadow: 0 1px 0 #000000;
    color: white;
    font-family: Arial;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding:2px 10px;
    min-width: 15px;

}
.button_2 {
    background-color: #EE432E;
    background-image: -moz-linear-gradient(center top , #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
    border: 1px solid #951100;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333333;
    color: #FFFFFF;
    font: bold 50px/50px "helvetica neue",helvetica,arial,sans-serif;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 80px;
    cursor: pointer;
}

.btn_back{width:100px;display: block;z-index: 10;}
#music .btn_back{margin: 300px auto 20px;}
#mask{width:1024px;height:1000px;z-index: -1;position: absolute;top:-600px;left:0;}
#levels_board{position: absolute;left:40%;top:20px;font-size: 50px;color:#0099ff;z-index: 10;}
#levels_board b{font-size: 60px;}
#levels_board {font-style: normal;}
#music{z-index: 10;position: relative;}
#index_hype_container *{overflow: hidden;}
.rail{width:1024px;position: absolute;bottom:105px;left:0;}
.rail img{width:1024px;}
#main .btn_back{position: absolute;top:20px;left:20px;display: none;}
#credits .btn_back{position: absolute;top:20px;left:20px;}
#credits{display: none;}
#credits .main{position: absolute;top:100px;left:50%;margin:0 0 0 -150px;z-index: 10;height: 400px;width:100%;overflow: hidden;}
#credits dl{position: absolute;top:400px;}
#credits dt{font-size: 30px;}
#credits dd{margin-bottom: 30px;}
#credits p{font-size: 12px;text-shadow:none;}

#explain{background: url("images/explain_bg.jpg");width:100%;height: 100%;position: absolute;z-index: 10;display: none;}
#explain .dialog{position: absolute;width: 580px;height: 307px;left:265px;top:40px;}
#explain .dialog p{color:#333;text-shadow: none;line-height: 1.8;}
#explain .dialog p b{font-size: 1.6em;}
#explain .btn_next{position: absolute;right:180px;bottom:267px;}

#scene{position: absolute;width:100%;height: 100%;background: url("images/background.png") 0 0;z-index: -2;top:0;left:0;}
#scene img{position: absolute;}
#clouds {position: absolute;}
#clouds .cat_1{ top:180px;left:-300px;}
#clouds .cat_2{ top:280px;left:-300px;}
#clouds .cat_3{ top:10px;left:-300px;}
#clouds .cat_4{ top:100px;left:-300px;}
#scene .grass{bottom: 0;left:0;}
#scene .mountains{top:277px;left:0;display: none;}
#scene .ground{top:-178px;left:50%;margin:0 0 0 -208px;}
#scene .logo{top:38px;left:50%;margin:0 0 0 -244px;display: none;}
.play{position: absolute;top:768px;left:50%;margin:0 0 0 -222px;width:445px;height: 185px;line-height: 185px;background: url("images/play.png") no-repeat 0 0;z-index: 100;font-size: 70px;text-align: center;color:#cb8e1e;text-shadow: 1 2 1px #666;}
#scene .trainman{right: 0;bottom: 0;display: none;}

.btn_next{display: block;width:200px;height:107px;line-height:85px;background: url("images/next-button.png") no-repeat 0 0;text-align: center;font-size: 40px;color:#2086c4;}