---
layout: default
title: Rupert Qin
---
<div class="row">

  <div class="col-sm-4">
    <div class="widget-container boxed">
      <div class="widget-container widget-avatar boxed boxed-yellow">
          <div class="inner">
              <h5>Rupert QIN</h5>
              <span class="subtitle">developer</span>
              <div class="avatar">
                  <img src="/assets/images/me.jpeg" alt="" />
              </div>
              <div class="followers">
                  <span class="counter">5</span> followers
              </div>
              <a href="#" class="btn btn-brown btn-follow">
                  <span><i></i>Follow</span>
              </a>
          </div>
      </div>

    </div>
  </div>

  <div class="col-sm-3">
    <div class="widget-container widget-avatar boxed boxed-turquoise">
      <div class="inner">
        <h5>最新</h5>
        <ul class="posts">
          {% for post in site.posts limit:10 %}  <!-- site.tags.fun -->
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <div><span><a href="/list">more</a></span></div>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="widget-container boxed">
      <div class="widget-container widget-avatar boxed boxed-white">
        <div class="inner">
          <h5>文档</h5>
          <ul class="posts">
            {% for post in site.tags.za limit:8 %}  <!-- site.tags.fun -->
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <div><span><a href="/list">more</a></span></div>
        </div>
      </div>
    </div>
  </div>



</div>
